@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
}
header{
    height: 100vh;
    background: #08415C;
    overflow: hidden;
}
header nav{
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 4;
    position: fixed;
    transition: 500ms linear;
}
header nav img{
    height: 90%;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 3em;
    color: white;
}
header nav ul li {
    list-style: none;
    cursor: pointer;
}
header nav ul li a{
    color: white;
    text-decoration: none;
}
.login__btn:hover{
    background-color: rgba(255, 255, 255, 0.75) !important;
    color: #08415C !important;
}
.nav__scroll{
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(15px);
}
.nav__scroll ul li a{
    color: #08415C;
}
.nav__scroll
.nav__top{
    background-color: transparent;
}
.btn{
    background-color: transparent;
    border: 1px solid white;
    padding: 0.3em 1.8em;
    border-radius: 4px;
    cursor: pointer;
    transition: 500ms linear;
    text-transform: uppercase;
}
.btn__primary{
    background-color: rgba(255, 255, 255, 0.9);
    color: #08415C;
    border: 1px solid transparent;
    transition: 500ms linear;
}
.btn:hover{
    border: 1px solid transparent;
    background-color: #388697;
    color: white;
}
.btn__primary:hover{
    background-color: #388697;
}

.header__items__container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 95vh;
    align-items: center;
    z-index: 1;
}
.content__container{
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    flex-basis: 50%;
    padding: 0 100px;
}
.content__container .btn__container{
    margin-top: 2em;
    display: flex;
    gap: 2em;
    justify-content: center;
}
.content__container .btn__container h5{
    font-size: 1.3em;
    font-weight: 300;
    padding: 1em 2em;
}

.content__container p{
    margin-top: 1em;
    letter-spacing: 2px;
    font-weight: 200;
    text-align: justify;
}
.content__container h2{
    font-size: 4em;
    line-height:60px;
    text-align: center;
}
.content__container h4{
    margin-top: 5px;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}
.content__container .emp__text{
    font-size:3em;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.img__container {
    height: 100%;
    z-index: 2;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.img__container img{
    width: 400px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 500ms linear;
}
.img__container img:hover{
    width: 420px;
}

/* movies start from here */
main{
    position: relative;
    overflow: hidden;
}
.movies__container{
    display: flex;
    gap: 0.5em;
    justify-content: space-around;
    margin-top: 20px;
    transform: translateX(18rem);
    transition: 500ms linear;
}
.movies__portion{
    padding: 1em 2em;
    background-color: #08415C;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.movies__portion h2{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 2em;
}
.movies__portion small{
    margin-top: 10px;
    display: block;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-weight: 100;
    font-size: 1em;
}
.movie__container{
    /* background-color: rgba(255, 255, 255, 0.075); */
    background-color: transparent;
    height: max-content;
    color: #08415C;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    width: 20em;
    height: 35em;
    padding: 10px 20px;
    transition: 200ms linear;
}
.movie__container img{
    width: 19em;
    border-radius: 8px;
}
.movie__container h2{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 200;
    text-align: center;
    font-size: 1.2em;
}
.movie__container:hover{
    transform: translateY(-10px);
}

.move__left__btn,.move__right__btn{
    position: absolute;
    padding: 7rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
}
.move__left__btn,.move__right__btn i{
    color: white;
    font-size: 2em;
}
.move__left__btn{
    background-color: rgba(255, 255, 255, 0.15);
    left: 10px;
}
.move__right__btn{
    background-color: rgba(255, 255, 255, 0.15);
    right: 10px;
}
.move__right__btn:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.move__left__btn:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.get__subscription__container{
    background-color: #388697;
    margin: 7rem 10%;
    padding:3rem 2rem;
    border-radius: 8px ;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.get__subscription__container p{
    font-weight: 200;
    margin-top: 1rem;
}

.get__subscription__container h4{
    border: 1px solid transparent;
    background-color: white;
    color: #08415C;
    width: max-content;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2rem;
    font-weight: 400;
    margin-right: 0.5rem;
    transition: 500ms ease;
    cursor: pointer;
}
.get__subscription__container .learn__more__btn{
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

.get__subscription__container h4:hover{
    background-color: #08415C;
    color: white;
}
.get__subscription__container .learn__more__btn:hover{
    border: 1px solid transparent !important;
}
.characters__portion{
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.characters__portion h2{
    font-size: 2em;
    color: #08415C;
}
.characters__portion small{
    margin-top: 10px;
    display: block;
    color: #08415C;
    text-align: center;
    font-weight: 100;
    font-size: 1em;
}
.characters__container
{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}
.character__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 20rem;

}
.character__container img{
    width: max-content;
    height: 15rem;
    transition: 500ms linear;
}
.character__container img:hover{
    height: 17rem;
}
.character__container h4{
    font-weight: 100;
    font-size: 1.3rem;
    margin-top: 10px;
}

.team__portion{
    padding: 7rem 0 12rem;
    width: 100%;
    background-color: #08415C;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s linear;
}
.team__portion small{
    margin-top: 10px;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: 100;
    font-size: 1em;
}
.team__portion > h2{
    font-size: 2em;
}
.team__members__container{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}
.team__member{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s linear;
    cursor: pointer;
    height: 25em;
}
.team__member img{
    width: 17rem;
    border-radius: 8px;
    transition: 500ms linear;
}
.team__member .team__image__container{
    position: relative;
}
.team__member .team__image__container .contact__btn__team{
    position: absolute;
    width: 90%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    color: #08415C;
    text-transform: uppercase;
    padding: 0.8rem 3rem;
    border-radius: 10px;
    transition: 500ms linear;
    display: none;
    
}
.team__member img:hover{
    filter: brightness(80%);
    width: 19rem;
}
.team__member:hover .contact__btn__team{
    transition: 1s linear;
    letter-spacing: 2px;
    display: block;
    bottom: 0;
}
.contact__btn__team:hover{
    background-color: #388697;
    color: white;
}
.team__member h2{
    font-weight: 400;
    font-size: 1.5rem ;
    margin-top: 10px;
}
.team__member h4{
    font-weight: 200;
    font-size: 1rem;
}

.booking__portion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}
.booking__portion small{
    margin-top: 10px;
    display: block;
    color: #08415C;
    text-align: center;
    font-weight: 100;
    font-size: 1em;
}
.booking__portion h2{
    font-size: 2em;
    color: #08415C;
}
.booking__form__container{
    display: flex;
    width: 100%;
    margin-top: 3rem;
    padding: 0 2rem;
}
.booking__image__container{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking__image__container img{
    width: 20rem;
    transition: 500ms linear;
}
.booking__image__container img:hover{
    transform: translateY(-20px);
}
.booking__form{
    background-color: rgba(0, 0, 0, 0.055);
    padding: 5em 1em;
    border-radius: 8px;
    flex-basis: 50%;
    position: relative;
}
.booking__form img{
    width: 15rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -12rem;
}
.booking__form h4{
    color: #08415C;
    font-weight: 300;
}
.booking__form input{
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #08415C;
}
.booking__form .card__detail{
    display: flex;
    gap: 1em;
}
.booking__form input[type="submit"]{
    background-color: #08415C;
    color: white;
    letter-spacing: 0.5em;
    border: none;
    border-radius: 8px;
}
.brands__portion{
    margin: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.brands__portion small{
    margin-top: 10px;
    display: block;
    color: #08415C;
    text-align: center;
    font-weight: 100;
    font-size: 1em;
}

.brands__portion h2{
    font-size: 2em;
    color: #08415C;

}
.collaboration__brands{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.collaboration__brands img{
    width: 12rem;
}
footer{
    background-color: #08415C;
    display: flex;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.75)
}
footer .social__handles{
    flex-basis: 20%;
    text-align: center;
    padding: 2rem;
}
.social__handles p{
    text-align: center;
    font-weight: 200;
}
.social__handles img{
    width: 7em;
}

footer .navigation__page{
    flex-basis: 20%;
    padding: 2em;
}
footer ul{
    list-style: none;
    line-height: 2.3em;
}
footer  ul a{
    text-decoration: none;
    color: white;
    font-weight: 200;
    transition: 500ms ease;
}
footer ul a:hover{
    text-decoration: underline;
}
footer .footer__support{
    flex-basis: 20%;
    padding: 2em;
}

footer .signup__user{
    flex-basis: 40%;
    padding: 2em;
}
footer .signup__user h4{
    font-weight: 200;
}
footer .signup__user input[type="text"]{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #08415C;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 0.5rem 1em;
}
footer .signup__user input[type="submit"]{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    color: #08415C;
    padding: 1em;
    margin-top: 1em;
    border: none;
    border-radius: 4px ;
    transition: 500ms linear;
    letter-spacing: 2px;
}
footer .signup__user input[type="submit"]:hover{
    background-color: #388697;
    color: white;
}

.side__popup{
    position: fixed;
    overflow: hidden;
    z-index: 1000;
    right: 0;
    top: 5rem;
    background-color: rgb(16, 167, 16);
    padding: 1rem 2rem;
    color: white;
    border-radius: 8px 0 0 8px;
    transition: 700ms linear;
    transform: translateX(15rem);
}
.side__popup h5{
    font-weight: 300;
}
/* ==================MEDIA QURIES (MEDIUM DEVICES)=============== */

@media screen and (max-width:1024px){
    .img__container{
        display: none;
    }
    .booking__form img{
        width: 7rem;
        top: -5rem;
    }
}

/* ==================MEDIA QURIES (SMALL DEVICES)=============== */

@media screen and (max-width:600px) {
    header nav ul{
        display: none;
    }
    .img__container{
        display: none;
    }
    .content__container{
        margin-top: 4em;
        padding: 0 2px !important;
    }
    .content__container h2{
        font-size: 3em;
    }
    .content__container h4{
        font-size: 2em;
    }
    .content__container .emp__text{
        font-size: 3em;
    }
    .content__container .btn__container{
        gap: 0.3em;
    }
    .btn{
        padding: 0.5em 1em !important;
        font-size: 1em !important;
    }
    .booking__image__container{
        display: none;
    }
    .booking__form{
        margin-top: 3rem;
        flex-basis: 100%;
    }
    .social__handles{
        display: none;
    }
    .signup__user{
        display: none;
    }
}